body {
  background: url(assets/Yoda.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  color: green;
  text-align: center;
  font-style: oblique;
}